.astad-kaai {
	.kaai {
	    z-index: auto;
	    .kaai-outer-container {
			.logo-wrapper {
				display: flex;
				flex-flow: column nowrap;
				.o-header__logo {
					position: relative !important;
					// top: 0;
				}
			}
		}
	}
}